/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@media only screen and (max-device-width: 768px){
  .mat-form-field{
    width: 100%;
  }
}
.red {
  color: white;
  background-color: #ff4983;
}
.green{
  background-color: #08d004;
}
.box-actions-confirm{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
